<div class="form">
  <h2 id="registration">Registration Form</h2>
  <form action="./" (ngSubmit)="onFormSubmit(myForm)" #myForm="ngForm">
    <label for="fname">First Name:</label>
    <input type="text" id="fname" name="firstname" placeholder="Enter Your Name..." ngModel required #fname="ngModel">
    <div>
      <p *ngIf="fname.invalid && fname.touched">First Name is required</p>
    </div>
    <label for="lname">Last Name:</label>
    <input type="text" id="lname" name="lastname" placeholder="Enter your last name.." ngModel required #lastname="ngModel">
    <div>
      <p *ngIf="myForm?.getControl(lastname)?.invalid && myForm?.getControl(lastname)?.touched">Last name is required</p>
    </div>
    <label for="email">Email ID:</label>
    <input type="email" id="email" name="emailid" placeholder="Enter your email" ngModel required email>
    <label for="country">Country</label>
    <select id="countery" name="country" ngModel>
      <option value="india">India</option>
      <option value="usa">USA</option>
      <option value="canada">Canada</option>
      <option value="uk">UK</option>
    </select>
    <div>
    <label for="gender">Gender</label>
    <input type="radio" id="male" value="male" name="gender" ngModel>
    <label for="male">Male</label>
    <input type="radio" id="female" value="female" name="gender" ngModel>
    <label for="female">Female</label>
    <input type="radio" id="other" value="other" name="gender" ngModel>
    <label for="other">Other</label>
  </div>
  <div>
    <p>Hobbies</p>
    <label><input type="checkbox" value="cricket" name="hobbies" ngModel> Cricket</label>
    <label><input type="checkbox" value="reading" name="hobbies" ngModel> Reading</label>
    <label><input type="checkbox" value="dancing" name="hobbies" ngModel> Dancing</label>
  </div>
    <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
  </form>
</div>
