<h1 class="title">Angular RxJS - Reactive Extension for JavaScript</h1>
<h2>What is RxJS?</h2>
<p>
  Ans: RxJS is a JavaScript implementation of Reactive Extension API. RxJS
  provides single API to deal with the data that is coming from multiple sourse.
</p>
<br/>
<h2>What is Stream?</h2>
<p>
  Ans: The data that is coming continuosly coming to your application is called as
  data stream.
</p>
<p>Stream of data can be - </p>
<ul>
  <li>Synchronous Data</li>
  <li>Asynchronous Data</li>
  <li>Getting Data from the server as HTTP calls</li>
  <li>DOM events</li>
  <li>Function with return value</li>
</ul>

<a href="#" id="click-here">Click Here</a>
